<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-fdkeychain" version="1.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>FDKeychain Cordova Plugin</name>
    <description>Plugin to provide FDKeychain iOS/OSX Project features to Cordova Framework. For more info visit: https://github.com/reidmain/FDKeychain.git</description>
    <license>MIT</license>
    <keywords>keychain</keywords>
    
    <platform name="ios">

    	<js-module name="FDKeychain" src="www/FDKeychain.js">
        	<clobbers target="cordova.plugins.FDKeychain" />
    	</js-module>

        <config-file parent="/*" target="config.xml">
            <feature name="FDKeychainPlugin">
                <param name="ios-package" value="FDKeychainPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/FDKeychain.h"/>
        <header-file src="src/ios/FDKeychainPlugin.h" />

        <source-file src="src/ios/FDKeychain.m"/>
        <source-file src="src/ios/FDKeychainPlugin.m" />

        <framework src="Security.framework" />

    </platform>
</plugin>
